@font-face {
    font-family: blocks;
    src: url(./assets/fonts/baby\ blocks.ttf);
}
@font-face {
    font-family: blocks2;
    src: url(./assets/fonts/DatBox.ttf);
}
@font-face {
    font-family: blocks3;
    src: url(./assets/fonts/Sketchtica.ttf)
}
body{
    margin: 0;
    font-size: 0;
}
#app-cont{
    height: 100vh;
}
#app-cont * {
    box-sizing: border-box;
}

/** GAME TITLE **/
.top-cont{
    
    display: flex;
    justify-content: center;
}
.game-title-cont{
    height: 100%;
}
.rgb-title {
    font-size: 40px;
    text-align: center;
    font-family: blocks;
    margin-top: 26px;
}
.rgb-title span:nth-child(1){
    color: red;
}
.rgb-title span:nth-child(2){
    color: green;
}
.rgb-title span:nth-child(3){
    color: blue;
}
.game-title-cont div:nth-child(2) {
    font-size: 50px;
    text-align: center;
    font-family: blocks3;
    letter-spacing: -2px;
}

/** GAME AREA **/

.bottom-cont{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rgb-text-area{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.question-span{
    font-size: 24px;
    font-family: blocks3;
}
.correct-rgb{
    font-size: 24px;
    font-family: blocks3;
    font-weight: 600;
}
.color-area{
    height: 360px;
    width: 840px;
    display: flex;
    flex-wrap: wrap;
}
.color-box{
    position: relative;
    height: 130px;
    width: 240px;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.color-box::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
.color-box:hover {
    transform: scale(1.1, 1.1);
}
.color-box:hover::after {
    opacity: 1;
}
.response-text{
    height: 20%;
    text-align: center;
    font-size: 20px;
}

/** Animations**/

@keyframes color-rotate{
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);}
}
